asl/FideScraperFlow.json
{
    "Comment": "State Machine to invoke scrapeFed Lambda for a predefined list of federations.",
    "StartAt": "InitializeFederations",
    "States": {
      "InitializeFederations": {
        "Type": "Pass",
        "Parameters": {
          "federations": [
            "AFG",
            "ALB",
            "ALG",
            "AND",
            "ANG",
            "ANT",
            "ARG",
            "ARM",
            "ARU",
            "AUS",
            "AUT",
            "AZE",
            "BAH",
            "BRN",
            "BAN",
            "BAR",
            "BLR",
            "BEL",
            "BIZ",
            "BER",
            "BHU",
            "BOL",
            "BIH",
            "BOT",
            "BRA",
            "IVB",
            "BRU",
            "BUL",
            "BUR",
            "BDI",
            "CAM",
            "CMR",
            "CAN",
            "CPV",
            "CAY",
            "CAF",
            "CHA",
            "CHI",
            "CHN",
            "TPE",
            "COL",
            "COM",
            "CGO",
            "CRC",
            "CRO",
            "CUB",
            "CYP",
            "CZE",
            "COD",
            "DEN",
            "DJI",
            "DMA",
            "DOM",
            "ECU",
            "EGY",
            "ESA",
            "ENG",
            "GEQ",
            "ERI",
            "EST",
            "SWZ",
            "ETH",
            "FAI",
            "FIJ",
            "FIN",
            "FRA",
            "GAB",
            "GAM",
            "GEO",
            "GER",
            "GHA",
            "GRE",
            "GRN",
            "GUM",
            "GUA",
            "GCI",
            "GUY",
            "HAI",
            "HON",
            "HKG",
            "HUN",
            "ISL",
            "IND",
            "INA",
            "IRI",
            "IRQ",
            "IRL",
            "IOM",
            "ISR",
            "ITA",
            "CIV",
            "JAM",
            "JPN",
            "JCI",
            "JOR",
            "KAZ",
            "KEN",
            "KOS",
            "KUW",
            "KGZ",
            "LAO",
            "LAT",
            "LBN",
            "LES",
            "LIB",
            "LBR",
            "LBA",
            "LIE",
            "LTU",
            "LUX",
            "MAC",
            "MAD",
            "MAW",
            "MAS",
            "MDV",
            "MLI",
            "MLT",
            "MTN",
            "MRI",
            "MEX",
            "MDA",
            "MNC",
            "MGL",
            "MNE",
            "MAR",
            "MOZ",
            "MYA",
            "NAM",
            "NRU",
            "NEP",
            "NED",
            "AHO",
            "NZL",
            "NCA",
            "NIG",
            "NGR",
            "MKD",
            "NOR",
            "OMA",
            "PAK",
            "PLW",
            "PLE",
            "PAN",
            "PNG",
            "PAR",
            "PER",
            "PHI",
            "POL",
            "POR",
            "PUR",
            "QAT",
            "ROU",
            "ROM",
            "RUS",
            "RWA",
            "SKN",
            "LCA",
            "SMR",
            "STP",
            "KSA",
            "SCG",
            "SCO",
            "SEN",
            "SRB",
            "SEY",
            "SLE",
            "SIN",
            "SGP",
            "SVK",
            "SLO",
            "SOL",
            "SOM",
            "RSA",
            "KOR",
            "SSD",
            "ESP",
            "SRI",
            "VIN",
            "SUD",
            "SUR",
            "SWE",
            "SUI",
            "SYR",
            "TJK",
            "TAN",
            "THA",
            "TLS",
            "TOG",
            "TRI",
            "TTO",
            "TUN",
            "TUR",
            "TKM",
            "UGA",
            "UKR",
            "UAE",
            "USA",
            "URU",
            "ISV",
            "UZB",
            "VEN",
            "VIE",
            "WLS",
            "YEM",
            "YUG",
            "ZAM",
            "ZIM"
          ],
          "month.$": "$.month"
        },
        "ResultPath": "$.payload",
        "Next": "ProcessFederations"
      },
      "ProcessFederations": {
        "Type": "Map",
        "ItemsPath": "$.payload.federations",
        "Parameters": {
          "month.$": "$.payload.month",
          "federation.$": "$$.Map.Item.Value"
        },
        "Iterator": {
          "StartAt": "InvokeScrapeFed",
          "States": {
            "InvokeScrapeFed": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-2:961341531973:function:scrapeFide",
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "HandleError"
                }
              ],
              "End": true
            },
            "HandleError": {
              "Type": "Fail",
              "Error": "LambdaInvocationFailed",
              "Cause": "Failed to invoke scrapeFed Lambda function."
            }
          }
        },
        "MaxConcurrency": 10,
        "ResultPath": "$.results",
        "End": true
      }
    }
  }